<html>
<head>
</head>
<body>

<form action="/system1/msglen3" method="post">

<input type="text" name="name" placeholder="Name">
<input type="text" name="age" placeholder="Age">
<input type="text" name="address" placeholder="Address">
<button type="submit">Send</button>

</form>

</body>
</html>